<Connector port="8080"

maxThreads="150"
minSpareThreads="25"
connectionTimeout="20000"
enableLookups="false"
maxHttpHeaderSize="8192"
protocol="HTTP/1.1"
useBodyEncodingForURI="true"
redirectPort="443"

acceptCount="100"
disableUploadTimeout="true"
bindOnInit="false"

proxyName="jira.yourdomain.com"
proxyPort="443"
secure="true"
scheme="https"/>
